/root/Project/Project/Infrastructure-Provisioning/.terraform
Infrastructure-Provisioning/.terraform.lock.hcl
Infrastructure-Provisioning/.terraform/
Infrastructure-Provisioning/terraform.tfstate
Infrastructure-Provisioning/terraform.tfstate.backup
Load-Infra/.terraform.lock.hcl
Load-Infra/.terraform/
Load-Infra/terraform.tfstate
